@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&family=Bebas+Neue&family=Rajdhani&display=swap');

h1{
    font-size: 3vw;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}